/* CSS DOCUMENT */

body {
    background-image: url("../Images/Bio_bg3.jpg");
    background-repeat: repeat;
}

#name{
    text-align: center;
    font-family: "Helvetica","Adobe Caslon Pro Bold",serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
    margin-top: 10%;
}

#intro{
    padding: 1% 18%;
    font-family: "Bell MT","Helvetica","Adobe Caslon Pro Bold",serif;
    font-size: 20px;
    padding-bottom: 10%;

}

#intro p a:link, #intro p a:visited{
    text-decoration: underline;
    color: white;
}

#intro p a:hover{
    color: orange;
}


.color_white{
    color:white;
}

/*#footer{*/
    /*color: white;*/
/*}*/

/*TO OVERRIDE THE PRO FOOTER COLOR IN COMMON CSS*/
#footex ul li h4 {
    color: white;
}

#navigation ul li h4, #social_media_footer ul li h4, #projects_footer ul li h4 {
    color: white;
}

#footer_container #footerx #personal_logo img, #footer_container #mobile_logo img {
    filter: invert(0);
}

#standalone_footer{
    color: white;
}


@media screen and (max-width: 480px){
    #name{
        font-size: 30px;
    }

    #intro{
        padding: 1% 12%;;
    }
}

@media screen and (max-width: 320px){
    #name{
        font-size: 30px;
    }
}



