/* CSS DOCUMENT */

body {
    background-image: url("../Images/Bio_bg3.jpg");
    background-repeat: repeat;
}

#name{
    text-align: center;
    font-family: "Helvetica","Adobe Caslon Pro Bold",serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
    margin-top: 10%;
}

#intro{
    padding: 1% 18%;
    font-family: "Bell MT","Helvetica","Adobe Caslon Pro Bold",serif;
    font-size: 20px;
    padding-bottom: 10%;

}

#intro p a:link, #intro p a:visited{
    text-decoration: underline;
    color: white;
}

#intro p a:hover{
    color: orange;
}


.color_white{
    color:white;
}

#footer{
    color: white;
}

@media screen and (max-width: 480px){
    #name{
        font-size: 30px;
    }

    #intro{
        padding: 1% 12%;;
    }
}

@media screen and (max-width: 320px){
    #name{
        font-size: 30px;
    }
}



