/* CSS DOCUMENT */

body {
    background-image: url("Bio_bg3.jpg");
    background-repeat: repeat;
}

#name{
    text-align: center;
    font-family: "Helvetica","Adobe Caslon Pro Bold",serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
    margin-top: 10%;
}

#intro{
    padding: 1% 18%;
    font-family: "Bell MT","Helvetica","Adobe Caslon Pro Bold",serif;
    font-size: 20px;
    padding-bottom: 10%;

}

.color_white{
    color:white;
}

#footer{
    color: white;
}

