#reg_showcase{
    margin-top: 3.27%;
    background-image: url("../Images/math_artwork.jpg");
    padding: 27% 0;
    background-size: 100%;
    background-position: center;
}

h1{
    margin: 5% 0;
    font-family: Roboto;
    text-align: center;
}

h2{
    color: #888888;
    margin: 2% 0 5% 0;
    font-family: Roboto;
    text-align: center;
}

#contents{
    margin-left: 20%;
    width: 60%;
}

#contents img{
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 1200px){
    #contents{
        margin-left: 10%;
        width: 80%;
    }
}

@media only screen and (max-width: 800px){
    #reg_showcase{
        margin-top: 0;
    }
}

@media only screen and (max-width: 550px){
    h1{
        font-size: 25px;
    }
}

@media only screen and (max-width: 500px){
    #reg_showcase{
        background-size: 180%;
        padding: 60% 0;
    }

    h1{
        font-size: 20px;
    }

    #contents{
        margin-left: 5%;
        width: 90%;
    }
}