/*Regular Roboto now refers to Roboto Light. To use actually regular roboto please use RobotoReg*/

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: "RobotoReg";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Bell MT";
    src: url("../fonts/BELL.ttf");
}

@font-face {
    font-family: "Myriad Pro Bold";
    src: url("../fonts/MyriadPro-Bold.otf");
}

@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/MyriadPro-Regular.otf");
}


@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica-Normal.ttf");
}