/*For original menu*/
/* CSS DOCUMENT */

body {
    /*width: 1519px;*/
    margin: auto;
}

#nav ul {
    display: inline;
}

#nav {
    text-align: center;
    background-color: white;
    padding: 15px 0 15px 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}

#nav > nav > ul > li > a {
    transition: all linear 0.15s;
    background-color: white;
    display: inline;
    padding: 15px 10px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
    font-weight: 300;
}

#nav a:link {
    color: black
}

#nav a:visited {
    color: black
}

#nav a:active {
    color: black
}

#nav a:hover {
    color: orange;
}

#nav a:focus {
    color: orange;
}

._center {
    text-align: center;
}

/*For drop-down menu*/

.clearfix:after {
    display: block;
    clear: both;
}

/*----- Menu Outline -----*/
.menu-wrap {
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background: #3e3436;
}

.menu {
    text-align: center;
    width: 100%;
    margin: 0px auto;
}

.menu li {
    margin: 0px;
    list-style: none;
    font-family: 'serif';
}

.menu a {
    transition: all linear 0.15s;
    /*color:#919191;*/
}

.menu li:hover > a, .menu .current-item > a {
    text-decoration: none;
}

/*----- Top Level -----*/
.menu > ul > li {
    display: inline-block;
    position: relative;
}

.menu > ul > li > a {
    padding: 10px 40px;
    display: inline-block;
}

.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background: rgba(0, 0, 0, 0.05);
}

/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index: 1;
    opacity: 0.95;
}

.sub-menu {
    margin-top: 10%;
    text-align: left;
    width: 150%;
    padding: 5px 30px;
    position: absolute;
    top: 120%;
    left: 0px;
    z-index: -1;
    opacity: 0;
    transition: opacity linear 0.15s;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    background: rgb(240, 240, 240);

}

.sub-menu li {
    display: block;
    font-size: 16px;
}

.sub-menu li a {
    margin-left: -25%;
    padding: 10px 30px;
    display: block;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
    font-weight: 300;
}
/*MEDIA QUERIES FOR THE MOBILE NAV BAR*/
#mobile_nav {
    position: absolute;
    visibility: hidden;
}

#top_mobile_nav {
    background-color: white;
    padding: .3% 0;
    position: absolute;
    visibility: hidden;
}

#mobile_nav #nav_fist {
    padding-top: 2%;
}

#navicon {
    cursor: pointer;
}

#mobile_logo img, #personal_logo img{
    cursor: pointer;
}

.horizScrollDiv{
    display: block;
    text-align: center;
    margin-right: 33px;
}

.horizScrollDiv img{
    transform: scale(0.8);
}

@media only screen and (max-width: 800px) {
    /*FOR THE MOBILE NAV BAR*/
    #nav {
        visibility: hidden;
    }

    #top_mobile_nav {
        position: relative;
        visibility: visible;

    }

    #mobile_nav {
        position: relative;
        visibility: visible;
        white-space: nowrap;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        padding: 15px 0 15px 0;
        background-color :rgba(0,0,0,0.1);
        display: flex;
        list-style: none;
    }

    #mobile_nav ul:after { /* 5 */
        content: '    ';
        display: inline-block;
        width: 100%;
    }

    #mobile_nav div li a:link, #mobile_nav div li a:visited{
        font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
        font-weight: 300;
        text-decoration: none;
        font-size: 12px;
        color: black;
        transition: all linear 0.15s;
    }
}

@media only screen and (max-width: 700px) {
    .horizScrollDiv{
        margin-right: 16px;
    }
}
