/* CSS DOCUMENT */

body {
    width: 1519px;
    margin: auto;
}

#nav ul {
    display:inline;
}

#nav {
    text-align: center;
    background-color: black;
    padding: 15px 0 15px 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

#nav a {
    background-color: black;
    display: inline;
    padding: 0px 10px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    font-weight: 300;
}

#nav a:link { color: white}
#nav a:visited {color: white}
#nav a:active {color: white}
#nav a:hover { color: orange;}
#nav a:focus { color: orange;}

._center {
    text-align: center;
}

#title_ h1 {
    padding: 14% 0 10% 0;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 70px;
}

#phone {
    /*padding: 3% 0;*/
    background-color: rgba(0,0,0,0.04);
    text-align: center;
}

#phone #p_icon{
    -ms-transform: scale(0.8, 0.8); /* IE 9 */
    -webkit-transform: scale(0.8, 0.8); /* Safari */
    transform: scale(0.8, 0.8);
}

#email{
    text-align: center;
    padding: 1% 0;
}

#email #e_icon{
    -ms-transform: scale(0.9, 0.9); /* IE 9 */
    -webkit-transform: scale(0.9, 0.9); /* Safari */
    transform: scale(0.9, 0.9);
}

#social_media{
    background-color: rgba(0,0,0,0.04);
    text-align: center;
    padding: 13% 0;
}

#social_media a{
    padding-right: 4%;
}