#standalone_footer{
    color: white;
}

#navigation ul li h4, #social_media_footer ul li h4, #projects_footer ul li h4, #graphics_footer ul li h4 {
    color: white;
}

/*4 THE FOOTER*/
#footerx{
    display: flex;
    margin-top: 2%;
    width:70%;
    margin-left: 15%;
}


#footerx h4 {
    font-size: 17px;
    font-family: Helvetica;
    margin-bottom: 6px;
}

/*h4 must be a direct descendant of footer */
#standalone_footer{
    font-family: Roboto;
}

#footer_container{
    background-color: transparent;
    display: flex;
    margin-bottom: 0;
}

#section1, #section2 {
    width: 40%;
    display: flex;
}

#personal_logo{
    margin-top: 20px;
    width: 20%;
}

#social_media_footer{
    width: 50%;
}

#projects_footer{
    width: 50%;
}

#navigation{
    width: 50%;
    display: inline;
}

#graphics_footer{
    width: 50%;
}

#footerx ul {
    list-style: none;
}

#personal_logo img{
    /*margin-top: 2%;*/
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
}


#footerx a:link, #footerx a:visited {
    color: gainsboro;
    font-size: 15px;
    text-decoration: none;
    font-family: Roboto;
}

#footerx a:hover{
    transition: all 0.1s ease-in-out;
    color: orange;
}

#mobile_logo {
    width: 80px;
    height: 80px;
    display: block;
    margin: 2% auto 0 auto;
    position: fixed;
    visibility: hidden;
}

#footer_container{
    border-top: 2px solid gainsboro;
}

@media only screen and (max-width: 1150px) {
    #footerx{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media only screen and (max-width: 750px) {
    #footer_container{
        display: block;
    }
    #navigation, #projects_footer, #social_media_footer, #graphics_footer{
        margin-left: 0;
    }

    #section2, #section1{
        width: 50%;
    }

    #personal_logo{
        width: 0;
        visibility: hidden;
        position: fixed;
    }
    #mobile_logo{
        visibility: visible;
        position: relative;
    }

    #mobile_logo img {
        width: 80px;
        height: 80px;
    }
}

@media only screen and (max-width: 600px) {
    #footerx{
        width: 100%;
        margin-left: 0;
    }
}

@media only screen and (max-width: 500px){
    #footerx{
        display: block;
        margin-left:10%;
        width: 80%;
        margin-right: 10%;
    }

    #section2{
        margin-top: -5%;
    }

    #section1, #section2{
        margin-left: -2%;
    }

    #section1, #section2{
        /*display: block;*/
        text-align: left;
        width: 100%;
    }

    #navigation, #projects_footer, #social_media_footer, #graphics_footer{
        margin-left: 0;
        width: 50%;
    }
}

@media only screen and (max-width: 420px) {
    #footerx {
        display: block;
        margin-left: 5%;
        width: 90%;
        margin-right: 5%;
    }
    #section1, #section2{
        margin-left: 0;
    }

    #projects_footer, #social_media_footer{
        margin-left: -3%;
    }
}

@media only screen and (max-width: 360px){
    #footerx{
        display: block;
        margin-left:0;
        width: 100%;
        margin-right:0;
    }
    #projects_footer, #social_media_footer{
        margin-left: -5%;
    }
}

