/* CSS DOCUMENT */
body {
    width: 1519px;
    margin: auto;
}

#nav ul {
    display:inline;
}

#nav {
    text-align: center;
    background-color: white;
    padding: 15px 0 15px 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    /*z index is the order of the stack of elements
     here 10 can lead to it being above everything*/
    z-index: 10;

}

#nav a {
    background-color: white;
    display: inline;
    padding: 0px 10px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    font-weight: 300;
}

#nav a:link { color: black}
#nav a:visited {color: black}
#nav a:active {color: black}
#nav a:hover { color: orange;}
#nav a:focus { color: orange;}

._center {
    text-align: center;
}

#showcase{
    margin-top: 3.38%;
    padding: 22.5% 0;
    background-image: url("../images/gfxbg2.png");
    background-size: 100% auto;
}

#work{
    text-align: center;
    padding: 1% 0;
}

#work h1 {
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    font-weight: 300;
    font-size: 30px;
}

#design {
    display: flex;
    margin: 0 6% 5% 6%;
    background-size: 100% auto;
}

#img1x{
    -ms-transform: scale(0.695, 0.695); /* IE 9 */
    -webkit-transform: scale(0.695, 0.695); /* Safari */
    transform: scale(0.695, 0.695);
}

#col1, #col2 {
    width: 420px;
    margin-right: 2.87%;
}

#col3{

}

#design img{
    float: left;
}

#footer{
    margin-top: 5%;
}

.imgContainer{
    float:left;
}

.blur {
    transition: all .25s ease-out;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    /*opacity: 0.5;*/
}

#img1{
    margin-bottom: 8%;
}

#img2{
    margin-bottom: 8%;
    /*margin: 0 2.87% 2.87% 0;*/
}

#img3{
    margin-bottom: 8%;
    /*margin: 0 0 2.87% 0;*/
}

.shadow{
    text-shadow: 3px 3px 2px rgba(0,0,0,1);
}

#behance{

}

#design a{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    font-weight: 400;
    font-size: 30px;
}

#design a:link {color: white}
#design a:visited {color: white}
#design a:hover {
    color: white;
    text-decoration: underline;
}

#behance a {
    font-size: 35px;
    position: absolute;
    left: 39.5%;
    top: 200%;
    padding: 10px;
    color: #FFF;
    margin: 5px;
}

#flickr a {
    font-size: 35px;
    position: absolute;
    left: 73%;
    top: 195%;
    padding: 10px;
    color: #FFF;
    margin: 5px;
}

#img1 a {
    font-size: 25px;
    position: absolute;
    left: 180px;
    top: 930px;
    padding: 10px;
    color: #FFF;
    margin: 5px;
}

#img2 a {
    font-size: 40px;
    position: absolute;
    left: 640px;
    top: 1010px;
    padding: 10px;
    color: #FFF;
    margin: 5px;
}

#img4 a {
    font-size: 40px;
    position: absolute;
    left: 145px;
    top: 1430px;
    padding: 10px;
    color: #FFF;
    margin: 5px;
}

#img3 a {
    font-size: 40px;
    position: absolute;
    left: 1100px;
    top: 980px;
    padding: 10px;
    color: #FFF;
    margin: 5px;
}
