/* CSS DOCUMENT */
body {
    width: 1519px;
    margin: auto;
}

#nav ul {
    display:inline;
}

#nav {
    text-align: center;
    background-color: white;
    padding: 15px 0 15px 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

#nav a {
    background-color: white;
    display: inline;
    padding: 0px 10px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    font-weight: 300;
}

#nav a:link { color: black}
#nav a:visited {color: black}
#nav a:active {color: black}
#nav a:hover { color: orange;}
#nav a:focus { color: orange;}

._center {
    text-align: center;
}

#showcase{
    margin: 3.38% 0% 0 0%;
    padding: 22.5% 0;
    background-image: url("../images/gfxbg2.png");
    background-size: 100% auto;
}

#behance {
    /*float: right;*/
    margin-top: -30.2%;
    margin-left : 70%;
    padding: 12% 7%;
    text-align: center;
    background-color: rgba(19,119,255,1);
}

/*#behance a {*/
    /*text-decoration: none;*/
    /*font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;*/
    /*font-weight: 300;*/
    /*font-size: 30px;*/
/*}*/

/*#behance a:link {color: white}*/
/*#behance a:visited {color: white}*/
/*#behance a:hover {*/
    /*color: white;*/
    /*text-decoration: underline;*/
/*}*/

#work{
    text-align: center;
    padding: 1% 0;
}

#work h1 {
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    font-weight: 300;
    font-size: 30px;
}

#design {
    margin: 0 6% 5% 6%;
    background-size: 100% auto;
}

/*#design #img1{*/
    /*text-align: center;*/
    /*background-size: 100% auto;*/
    /*padding: 10% 0;*/
    /*background-image: url("../images/gfx1.jpg");*/
    /*!*cursor: pointer;*!*/
/*}*/

#design #img2{
    background-color: rgba(0,0,0,0.02);
    float: left;
    /*background-size: 40% auto;*/
    /*padding: 18.7% 40%;*/
    margin: 3% 0 0 0;
    /*background-image: url("../images/gfx2.png");*/
}

#design #img3{
    position: static;
    margin: 3% 0 0 36%;
}

#design #flickr{
    margin: 3% 0 0 4.18%;
    padding: 12% 9.2%;
    background-color: rgba(255,0,128,1) ;
    float: left;
}

#design a{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    font-weight: 400;
    font-size: 30px;
}

#design a:link {color: white}
#design a:visited {color: white}
#design a:hover {
    color: white;
    text-decoration: underline;
}

#footer{
    margin-top: 28%;
}

.blur {
    transition: all .25s ease-out;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    /*opacity: 0.5;*/
}

#img1x{
    position: relative;
    margin:  -6.5% 0 -7.5% -18%;
    -ms-transform: scale(0.695, 0.695); /* IE 9 */
    -webkit-transform: scale(0.695, 0.695); /* Safari */
    transform: scale(0.695, 0.695);
  }

#design #img1x a {
    font-size: 40px;
    position: absolute;
    left: 40%;
    top: 40%;
    padding: 10px;
    color: #FFF;
    margin: 5px;
}

.shadow{
    text-shadow: 3px 3px 2px rgba(0,0,0,1);
}
