/* CSS DOCUMENT */

#typography{
    margin-top:3%;
    background-image: url("../Images/proj_typography.jpg");
    padding: 27% 0;
    background-size: 60%;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
}

#proj_contents{
    margin: -5% 10% 0 10% ;
    display: flex;
}

#col1 {
    width: 46%;;
}

#col2 {
    margin-left: 7%;
    width: 46%;
}

#col1_item1{
    background-color: rgba(0,0,0,0.05);
    padding: 14% 10% 5% 10%;
}

#col1_item2{
    margin-top: 14%;
    background-color: rgba(0,0,0,0.05);
    padding: 14% 10% 5% 10%;
}


#col2_item1{
    background-color: rgba(0,0,0,0.05);
    padding: 14% 10% 5% 10%;
}

#col1_item1 h2 {
    margin-top: -5%;
}

#col2_item1 h2 {
    margin-top: -5%;
}

#col1_item2 h2 {
    margin-top: -5%;
}

#proj_contents h2 {
    /*color: rgba(46,49,146,1);*/
    color: black;
    font-family: "Helvetica", "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-weight: 600;
    font-size: 40px;
    line-height: 70%;
}

#proj_contents p {
    font-family: "Helvetica", "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-weight: 200;
    font-size: 22px;
}

#proj_contents a:link, #proj_contents a:visited{
    color: dodgerblue;
    text-decoration: none;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont,"RobotoReg", sans-serif;
    font-weight: 400;
}

#proj_contents a:hover{
    text-decoration: underline;
}

#proj_contents img{
    width: 600px;
    height: 400px;
    margin-left: -17%;
}

#footer{
    margin-top: 3%;
}

@media only screen and (max-width: 1500px) {
    #proj_contents img{
        max-width:134%;
        max-height:134%;
        height: auto;
    }
}

@media only screen and (max-width: 1200px) {
    #proj_contents h2{
        font-size: 35px;
    }
}

@media only screen and (max-width: 1000px) {
    #typography{
        margin-top: 10%;
        background-size: 70%;
    }
    #proj_contents h2{
        font-size: 27px;
    }
}

@media only screen and (max-width: 370px) {
    #proj_contents h2{
        font-size: 22px;
    }
}

@media only screen and (max-width: 300px) {
    #proj_contents h2{
        font-size: 20px;
    }
}

@media only screen and (max-width: 800px) {
    #typography{
        margin-top: 4%;
        padding: 30% 0;
        background-size: 80%;
    }

    #proj_contents{
        display: block;
    }

    #proj_contents img{
        max-width:134%;
        max-height:134%;
        height: auto;
    }

    #col1, #col2{
        width: 100%;
        margin-left: 0;
    }

    #col2_item1{
        margin-top: 14%;
    }
}

@media only screen and (max-width: 550px) {
    #typography{
        background-size: 100%;
        background-image: url("../Images/Projects Typography DesignMobile.jpg");
        margin-top: 5%;
        padding: 60% 0;
    }

    #col1_item1{
        margin-top: 14%;
    }
}
