/* CSS DOCUMENT */
/*Project images follow the dimension of 900 x 600. Use format png*/

body {
    width: 1519px;
    margin: auto;
}

#nav ul {
    display:inline;
}

#nav {
    text-align: center;
    background-color: black;
    padding: 15px 0 15px 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

#nav a {
    background-color: black;
    display: inline;
    padding: 0px 10px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    font-weight: 300;
}

#nav a:link { color: white}
#nav a:visited {color: white}
#nav a:active {color: white}
#nav a:hover { color: orange;}
#nav a:focus { color: orange;}

._center {
    text-align: center;
}

#typography{
    margin-top:3%;
    background-image: url("../Images/proj_typography.jpg");
    padding: 27% 0;
    background-size: 60%;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
}

#proj_contents{
    margin: -5% 10% 0 10% ;
    display: flex;
}

#col1 {
    width: 46%;;
}

#col2 {
    margin-left: 7%;
    width: 46%;
}

#col1_item1{
    background-color: rgba(0,0,0,0.05);
    padding: 14% 10% 5% 10%;
}

#col2_item1{
    background-color: rgba(0,0,0,0.05);
    padding: 14% 10% 5% 10%;
}

#col1_item1 h2 {
    margin-top: -5%;
}

#col2_item1 h2 {
    margin-top: -5%;
}

#proj_contents h2 {
    /*color: rgba(46,49,146,1);*/
    color: black;
    font-family: "Helvetica", "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-weight: 600;
    font-size: 40px;
    line-height: 70%;
}

#proj_contents p {
    font-family: "Helvetica", "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-weight: 200;
    font-size: 26px;
}

#proj_contents a:link, #proj_contents a:visited{
    color: dodgerblue;
    text-decoration: none;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    font-weight: 400;
}

#proj_contents a:hover{
    text-decoration: underline;
}

#proj_contents img{
    width: 600px;
    height: 400px;
    margin-left: -17%;
}

#footer{
    margin-top: 3%;
}