/* CSS DOCUMENT */

#footer{
    margin-top: 1%;
}

#nav {
    position: absolute;
}


.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#experience h1 {
    text-align: center;
    margin-top: 20%;
    color: white;
}

#quick_guide h3 {
    cursor: pointer;
}

#intro{
    text-align: center;
    color: white;
    /*margin-top: 3%;*/
    padding: 18% 0;
    background-color: rgba(221,51,34,1);
    /*background-image: url("../Images/Website Resume Bg Pattern.svg");*/
    background-size: 100%;
}

#intro h1 {
    font-size: 55px;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    font-weight: 300;
}

#intro a {
    text-align: center;
    padding: 0 10%;
}

#intro a:link, #intro a:visited {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    text-decoration: none;
    color: white;
    font-weight: 300;
}

#intro a:hover {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    text-decoration: underline;
    color: white;
    font-weight: 300;
}

.thin_title{
    text-align: center;
    font-size: 55px;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    text-decoration: none;
    color: white;
    font-weight: 300;
}

#progress ul {
    display:inline;
    /*padding-left: 55%;*/
    margin-right: 5%;
}

#progress  {
    opacity: 0.95;
    background-color: white;
    padding: 15px 0 15px 0;
    text-align: right;
}

#progress a {
    background-color: white;
    display: inline;
    padding: 0 10px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto","Helvetica", sans-serif;
    font-weight: 300;
}

#progress  a:link { color: black}
#progress  a:visited {color: black}
#progress  a:active {color: white}
#progress  a:hover {color: red}
#progress  a:focus { color: orange;}

#quick_guide {
    background-size: 100%;
    width: auto;
    padding: 8% 0;
    background-image: url("../Images/nyc.jpg");
    background-attachment: fixed;
}

#wrapper {
    display: flex;
    opacity: 0.95;
    margin: 5% 5%;
}

#wrapper a:hover{  text-decoration: underline;  }

#col1 {
    /*width: 450px;*/
    width: 30%;
    margin-right: 5%;
}

#col2 {
    width: 30%;
    margin-right: 5%;
}

#col3 {
    width: 30%;
}

#col1_item1 {
     padding: 2.5% 0;
     background-color: rgba(221,51,34,1);
 }

#col1_item2 {
    margin-top: 14%;
    padding: 2.5% 0;
    background-color: white;
}

#col2_item1 {
    padding: 2.5% 0;
    background-color: white;
}

#col2_item2 {
    margin-top: 14%;
    padding: 2.5% 0;
    background-color: rgba(221,51,34,1);
}

#col3_item1 {
    padding: 2.5% 0;
    background-color: rgba(221,51,34,1);
}

#col3_item2 {
    margin-top: 14%;
    padding: 2.5% 0;
    background-color: white;
}

#col1_item1 a{
    margin-left: 34%;
    text-align: center;
    opacity: 1;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    text-decoration: none;
    color: white;
    font-weight: 300;
}

#col1_item2 a {
    padding: 23%;
    opacity: 1;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    text-decoration: none;
    color: rgba(221,51,34,1);
    font-weight: 300;
}

#wrapper h6{
    cursor: pointer;
}

#wrapper h6:hover{
    text-decoration: underline;
}

#q1, #q2, #q6{
    text-align: center;
    opacity: 1;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    text-decoration: none;
    color: rgba(221,51,34,1);
    font-weight: 300;
}

#q3, #q4, #q5{
    text-align: center;
    opacity: 1;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    text-decoration: none;
    color: white;
    font-weight: 300;
}

#col2_item1 a{
    padding: 22%;
    opacity: 1;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    text-decoration: none;
    color: rgba(221,51,34,1);
    font-weight: 300;
}

#col2_item2 a{
    padding: 34%;
    opacity: 1;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    text-decoration: none;
    color: white;
    font-weight: 300;
}

#col3_item1 a{
    padding: 25.5%;
    opacity: 1;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    text-decoration: none;
    color: white;
    font-weight: 300;
}

#col3_item2 a{
    padding: 28%;
    opacity: 1;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    text-decoration: none;
    color: rgba(221,51,34,1);
    font-weight: 300;
}

#edu{
    padding-top:  8%;
    padding-bottom:  2%;
    /*use to be o.o6 for rgba*/
    background-color: rgba(0,0,0,0.06);
    /*background-image: url("../Images/edu_bg.svg");*/
    /*background-size: 80%;*/
    /*background-position-y: 40%;*/
    /*background-repeat: no-repeat;*/
}

#edu h1 {
    margin-top: -3%;
    font-size: 55px;
    font-family: -apple-system, BlinkMacSystemFont,"RobotoReg", sans-serif;
    font-weight: 500;
    text-align: center;
    color: rgba(221,51,34,1);
}

#wrap {
    display: flex;
    margin: 5% 10%;
}

#left_col{
    margin-left: 9%;
    margin-right: 10%;
}


#edu h2{
    margin-top: -3%;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont,"RobotoReg", sans-serif;
    font-weight: 500;
    text-align: left;
    color: black;
}

#edu h3{
    font-size: 25px;
    font-family: "Myriad Pro Bold","RobotoReg", sans-serif;
    font-weight: bold;
    text-align: left;
    color: rgba(221,51,34,1);
}

#edu h4 {
    margin-top: -3%;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont,"RobotoReg", sans-serif;
    font-weight: 400;
    text-align: left;
    color: black;
}

#edu h5 {
    margin-top: -2%;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont,"RobotoReg", sans-serif;
    font-weight: 400;
    text-align: left;
    color: black;
}

#progress a {
    cursor: pointer;
}

#experience{

    /*use to be 55%*/
    padding: 75% 0;
    background-image: url("../Images/ResumeGraphicWithResearch.svg");
    background-size: 100%;
    background-position-y: -2px;
    width: auto;
}

#exp_wrapper{
    display: flex;
    margin: 0 10%;
}

#exp_left{
    margin-top: -23em;
    margin-right: 341px;
}

#exp_right{
    text-align: right;
    white-space: nowrap;
    z-index: 10;
    margin-top: -0.8em;
    margin-right: 25px;
}

#exp1{
    margin-top: 122%;
}

#exp2{
    margin-top: 170%;
}

#experience h2 {
    color: rgba(253,196,18,1);
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    font-weight: 400;
}

#experience h3 {
    color: rgba(221,51,34,1);
    font-size: 22px;
    font-family:"Myriad Pro Bold","Roboto", sans-serif;
    font-weight: bolder;
}

#experience h4 {
    line-height: 150%;
    color: white;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    font-weight: 300;
}

#exp3{
    margin-top: 34%;
}

#skills {
    background-color: rgba(253,196,18,.05);
    padding-bottom: 5%;
    padding-top: 2%;
}

#skills h1 {
    font-size: 55px;
    font-family: -apple-system, BlinkMacSystemFont,"RobotoReg", sans-serif;
    font-weight: 500;
    text-align: center;
    color: rgba(221,51,34,1);
}

#skills h2 {
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    font-weight: 500;
    text-align: center;
    color: black;
}

#skills #left_arrow, #right_arrow{
    -ms-transform: scale(.2,.2); /* IE 9 */
    -webkit-transform: scale(.2,.2); /* Safari */
    transform: scale(.2,.2);
}

#left_arrow{
    margin-left: -3%;
    cursor: pointer;
}

#right_arrow{
    margin-right: 1%;
    cursor: pointer;
}

#skill_content{
    -ms-transform: scale(.8,.8); /* IE 9 */
    -webkit-transform: scale(.8,.8); /* Safari */
    transform: scale(.8,.8);
}

#skills h2 {
    z-index: 4;
    text-align: center;
}

#skills_wrapper{
    margin-top: -6%;
    display: flex;
}

#skl_wrapper{
    margin-top: -2%;
    margin-left: 4%;
    display: flex;
}

#skill_slider{
    margin-left: 6%;
    width: 60%;
    height: auto;
}

#left_arrow{
    width: 15%;
    height: auto;
}

#right_arrow{
    margin-left: 3%;
    width: 15%;
    height: auto;
}

#exp_left, #exp_right{
    visibility: hidden;
    position: absolute;
}

#mobile_exp{
    visibility: hidden;
    position: fixed;
}

.awards_backgrounds{
    background-color: rgba(14,23,68,1);
}

#gradient_break{
    padding: 10% 0;
    background-image: url("../Images/award-banner1.jpg");
    background-size: 100%;
    /*height: 70%;*/
}


/*for the awards section*/
#awards{
    display: block;
    margin: 0 10% 0 10%;
    width:80%;
    /*background-color: black;*/
}

#award_intro {
    display: flex;
}

#aw1{
    margin-top: -8%;
    padding: 1% 0;
    text-align: center;
    background-color: rgba(14,23,68,1);
    width: 50%;
    margin-left: 25%;
    font-family: Roboto, serif;
    font-size: 25px;
    color: white;
    box-shadow: 4px 4px 4px black ;
}

#multiple_awards_wrap{
    margin-top: 3%;
}

.awards_margintop {
    /*margin-top: 20%;*/
}

#awards1, #awards2, #awards3{
    margin-top: 3%;
}


.awards_styles{
    margin: 0 10%;
    display: flex;
    background-color: rgba(14,23,68,0.07);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5)
}

.awards_styles img {
    /*width: 30%;*/
    /*height: 30%*/
    width: 300px;
    height: 300px;
}

.awards_styles div {
    padding: 0 5%;
}

.awards_styles h1 {
    font-family: RobotoReg, "Helvetica", sans-serif,serif;
}

.awards_styles h2 {
    color: rgba(14,23,68,.5);
    font-family: "Myriad Pro Bold", serif;
}

.awards_styles p {
    font-family: Roboto, "serif";
    font-size: 18px;
}

.awards_styles a:visited, .awards_styles a:link{
    text-decoration: none;
    color: dodgerblue;
}

.awards_styles a:hover{
    transition: all 0.15s ease-in-out;
    text-decoration: underline;
}

#footer_container{
    margin-top: 5%;
}

@media only screen and (min-width: 1500px){
    .awards_styles p{
        font-size: 22px;
    }
}

@media only screen and (max-width: 1400px) {
    #experience{
        padding: 83% 0;
        background-size: 110%;
        background-position:top;
        background-position-y: -4px;
        background-position-x: 47%;
    }
}

@media only screen and (max-width: 1300px){
    .awards_styles{
        margin:  0 0;
    }
}

@media only screen and (max-width: 1200px) {
    #experience{
        padding: 88% 0;
        background-size: 118%;
        background-position-x: 44%;
    }
    #skill_slider{
        margin-left: 6%;
        width: 70%;
        height: auto;
    }

    #left_arrow{
        width: 10%;
        height: auto;
    }

    #right_arrow{
        /*margin-left: 3%;*/
        width: 10%;
        height: auto;
    }
}

@media only screen and (max-width: 1024px){
    #quick_guide{
        padding: 5% 0;
        background-attachment: scroll;
        background-size: 130%;
    }
    #wrapper h6{
        font-size: 35px;
    }
    #wrap {
        display: flex;
        margin: 5% 5%;
    }
    #experience{
        background-image: none;
    }
    #mobile_exp{
        visibility: visible;
        position: relative;
    }
    #logo{
        margin-top: 3%;
        margin-left: 20%;
        margin-bottom: 3%;
        width: 60%;
    }
    #experience{
        background-color: rgba(40,38,39,1);
        padding: 0 0;
    }
    #mobile_wrap{
        margin: 0 8%;
    }

    #ex5{
        background-color: rgba(40,38,39,1);
        padding-bottom: 3%;
    }
    #right_arrow{
        margin-left: 1%;
        width: 10%;
        height: auto;
    }
    .awards_styles h1{
        font-size: 30px;
    }
}

@media only screen and (max-width: 948px){
    .awards_styles h1{
        font-size: 27px;
    }

    #intro h1{
        padding: 0 10%;
        width: 80%;
        font-size: 40px;
    }
    #wrapper h6{
        font-size: 25px;
    }
    #wrap {
        display: flex;
        margin: 5% 2%;
    }
    #left_col{
        margin-right: 4%;
    }
    #skill_slider{
        margin-left: 6%;
        width: 75%;
        height: auto;
    }

    #left_arrow{
        width: 8%;
        height: auto;
    }

    #right_arrow{
        margin-left: 0%;
        width: 8%;
        height: auto;
    }
    #awards{
        width: 90%;
        margin: 0 5% 0 5%;
    }
}

@media only screen and (max-width: 846px) {

}

@media only screen and (max-width: 800px){
    #nav {
        position: fixed;
    }
    #logo{
        width: 74%;
        margin-left: 13%;
    }
    #wrap{
        display: block;
    }
    #right_col{
        margin-top: 9%;
        margin-left: 9%;
        margin-right: 10%;
    }
    #wrap #left_col #h3, #wrap #left_col #h5, #wrap #left_col #h4{
        margin-top: -5%;
    }
    #progress{
        visibility: hidden;
        position: absolute;
    }
    #skill_slider{
        margin-left: 0;
        width: 95%;
        position: relative;
    }

    #left_arrow{
        visibility: hidden;
        position: fixed;
        margin-left: 0;
        margin-right: 0;
    }

    #right_arrow{
        visibility: hidden;
        position: fixed;
        margin-left: 0;
        margin-right: 0;
    }

    .awards_styles div {
        padding: 0 3%;
    }
}

@media only screen and (max-width: 750px){
    #awards{
        margin: 0 2.5% 0 2.5%;
        width: 95%;
    }
    .awards_styles h1{
        font-size: 24px;
    }
    #awards1, #awards2, #awards3{
        margin-top: 5%;
    }
}

@media only screen and (max-width: 686px){
    .awards_styles {
        display: block;
    }
    #awards{
        margin: 0 15% 0 15%;
        width: 70%;
    }

    .awards_styles img {
        width: 100%;
        height: 100%;
    }

    .awards_styles div {
        padding: 2% 5%;
    }

    .awards_styles p, .awards_styles h1, .awards_styles h2 {
        text-align: center;
    }

    #aw1{
        width: 75%;
        margin-left: 12.5%;
        font-size: 20px;
    }

    #award_intro {
        margin-top: -6%;
    }

    #multiple_awards_wrap{
        margin-top: 6%;
    }

    #awards1, #awards2, #awards3{
        margin-top: 7%;
    }

}

@media only screen and (max-width: 600px){
    #logo{
        width: 100%;
        margin-left: 0%;
    }
    #quick_guide{
        background-image: url("../Images/water_pattern.png");
        background-size: 100%;
    }
    #wrapper{
        margin: 0;
        display: block;
    }
    #col1, #col2, #col3 {
        margin-left: 5%;
        width: 90%;
    }

    #col1_item1 {
        padding: 1% 0;
    }

    #col1_item2 {
        margin-top: 3%;
        padding: 1% 0;
    }

    #col2_item1 {
        margin-top: 3%;
        padding: 1% 0;
    }

    #col2_item2 {
        margin-top: 3%;
        padding: 1% 0;
    }

    #col3_item1 {
        margin-top: 3%;
        padding: 1% 0;
    }

    #col3_item2 {
        margin-top: 3%;
        padding: 1% 0;
    }

    #wrapper h6{
        font-size: 22px;
    }
    #experience h3 {
        font-size: 20px;
    }
    #experience h4 {
        font-size: 17px;
    }
}

@media only screen and (max-width: 500px){
    #awards{
        margin: 0 705% 0 7.5%;
        width: 85%;
    }
    #gradient_break{
        padding: 12% 0;
    }

    #aw1 {
        padding: .4% 0;
        width: 80%;
        margin-left: 10%;
    }
    #awards1, #awards2, #awards3{
        margin-top: 10%;
    }

    #intro{
        padding: 38% 0;
    }
}

@media only screen and (max-width: 414px){
    #wrapper h6{
        font-size: 17px;
    }
    #edu h1 {
        font-size: 40px;
    }
    #experience h2 {
        font-size: 18px;
    }
    #experience h3 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 320px){
    #edu h1 {
        font-size: 35px;
    }
}

