/*
Create circles or rounded rectangles
border-radius: 100%;

button
<br/><button> Button </button>
*/

/*REMOVE THIS NAV BAR CODE AFTER FINISHING RESPONSIVE DESIGN ON ALL PAGES*/
/*REMOVE THIS NAV BAR CODE AFTER FINISHING RESPONSIVE DESIGN ON ALL PAGES*/
/*REMOVE THIS NAV BAR CODE AFTER FINISHING RESPONSIVE DESIGN ON ALL PAGES*/
/*REMOVE THIS NAV BAR CODE AFTER FINISHING RESPONSIVE DESIGN ON ALL PAGES*/

body {
    /*min-width: 1519px;*/
    margin: auto;
}

#bg {
    float: right;
    margin-top: -14%;
    height: auto;
}

#main {
    width: 50%;
    /*max-width: 50%;*/
    margin-right: 60%;
    margin-top: 18%;
    margin-left: 18%;
}

#intro {
}

#intro h1 {
    font-family: "Helvetica", "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-weight: bold;
    font-size: 65px;
    line-height: 70%;
}

#intro h2 {
    font-size: 40px;
    margin-left: 3%;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
    font-weight: 300;
    line-height: 70%;
}

._center {
    text-align: center;
}

#footer {
    margin: 2% 0;
    /*use to be 32%*/
}

#social_media {
    margin-top: 6%;
    margin-left: -7%;

}

#social_media a {
    padding: 0 1.68%;
}

#social_media a:hover {
    /*opacity:0.7;*/
}

#contents {
    background-color: rgba(0, 0, 0, 0.04);
    margin-top: 31%;
    text-align: center;
    padding: 3% 0;
}

#contents h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
    color: black;
    font-weight: 300;
    font-size: 45px;
    line-height: 70%;
}

#contents #images #first {
    /*padding-left: 3%;*/
    padding-top: -2%;
}

#contents a {
    padding-top: 2%;
    /*padding-right: 3%;*/
    display: block;
    /*display used to be inline*/
}

#contents #images {
    padding-top: .7%;
    padding-bottom: 2%;
    /*could be 7% or 2%*/
}

#gfx {
    padding: 20% 0;
    background-image: url("indexbg1x.jpg");
    background-size: 150% auto;
    text-align: center;
    background-position: 50% 18%;
    margin-right: 5px;

}

#proj {
    padding: 20% 0;
    /*background-image: url("../images/FRC.jpg");*/
    background-image: url("indexbg2.jpg");
    background-size: 120%;
    text-align: center;
    background-position: 50% 18%;
    margin-right: 5px;
}

#resume {
    padding: 20% 0;
    background-image: url("../Images/indexbg3.jpg");
    /*background-size: 120%;*/
    text-align: center;
    background-position: 50% 18%;
}

#wrapper a {
    transition: all .1s ease-in;
    color: white;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
    font-weight: 300;
    text-decoration: none;
    text-shadow: 3px 3px 2px black;
}

#wrapper a:link {
    color: white
}

#wrapper a:visited {
    color: white
}

#wrapper a:hover {
    color: orangered;
}

#wrapper {
    /*use to be margin top 17.14*/
    margin-top: 17.48%;
    display: flex;
}

#col1 {
    width: 33.4%;
    /*width: 507px;*/
}

#col2 {
    /*width: 507px;*/
    width: 33.4%;
}

#col3 {
    /*width: 507px;*/
    width: 33.4%;
}



@media only screen and (max-width: 480px) {
    #bg {
        margin-left: -20%;
        float: none;
    }
}

@media only screen and (max-width: 1517px) {
    #bg img {
        margin-top: 7%;
        width: 570px;
    }

    #wrapper {
        margin-top: 10%;
    }
}

@media only screen and (max-width: 1350px) {
    #wrapper {
        margin-top: 13%;
    }
}

@media only screen and (max-width: 1200px) {
    #main {
        margin-left: 14%;
    }

    #bg img {
        width: 520px;
    }
}

@media only screen and (max-width: 1100px) {
    #wrapper {
        margin-top: 8%;
    }

    #wrapper a {
        font-size: 30px;
    }

    #bg img {
        width: 450px;
    }
}

@media only screen and (max-width: 1000px) {
    #main {
        margin-left: 11%;
    }
}

@media only screen and (max-width: 950px) {
    #gfx, #proj, #resume {
        padding: 15% 0;
        margin-right: 0;
    }

    #wrapper {
        display: block;
    }

    #col1, #col2, #col3 {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    #bg {
        margin-top: 5%;
        float: none;
        margin-left: 25%;
        width: 300px;
        margin-bottom: 30%;
    }

    #main {
        margin-top: -20%;
        text-align: center;
        max-width: 90%;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media only screen and (max-width: 600px) {
    #social_media {
        margin-top: 15%;
    }

    #bg img {
        width: 350px;
        margin-left: -5%;
    }

    #main img {
        margin-top: -5%;
        margin-bottom: 12%;
    }
}

@media only screen and (max-width: 500px) {
    #bg img {
        width: 300px;
        margin-left: -8%;
    }

    #intro h1 {
        font-size: 50px;
    }

    #intro h2 {
        font-size: 35px;
    }
}

/*FOR iPhone 7*/
@media only screen and (max-width: 414px) {
    #bg img {
        width: 280px;
        margin-left: -12%;
    }

    #social_media{
        margin-left: -10%;
    }
}

