#nav ul {
    display:inline;

}

body {
    width: 1516px;
    margin: auto;
}

#bg {
    max-width: 50%;
    width: 50%;
    float: right;
    /*height: 70rem;*/
    /*background-image: url("cover3.jpg");*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*text-align: center;*/
}

#nav {
    text-align: center;
    background-color: black;
    padding: 15px 0 15px 0;
}

#nav a {
    background-color: black;
    display: inline;
    padding: 0px 10px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    font-weight: 300;
}

#nav a:link { color: white}
#nav a:visited {color: white}
#nav a:active {color: white}
#nav a:hover { color: orange;}
#nav a:focus { color: orange;}

#main{
    width: 50%;
    max-width: 50%;
    margin-right: 60%;
    margin-top: 14%;
    margin-left: 18%;
}

#intro {  }

#intro h1 {
    font-family: "Helvetica", "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-weight: bold;
    font-size: 65px;
    line-height: 70%;
}

#intro h2{
    font-size: 40px;
    margin-left: 3%;
    /*font-family: "SF UI Display","Roboto Thin", "Helvetica Thin","serif";*/
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    font-weight: 300;
    line-height: 70%;
}

._center {
    text-align: center;
}

#footer {
    margin-top: 32%;
}

#social_media {
    margin-top: 6%;
    margin-left: -7%;

}

#social_media a {
    padding: 0 1.68%;
}

#social_media a:hover {
    /*opacity:0.7;*/
}
