// not yet functional: not used in the implementation of website
// can use this as a template

.center_text a{
  @for $i from 1 to 6{ // loop from 1 to 5
    img:nth-child(#{$i}){ // selects each anchor tag
      &:hover{ // if hovering over each anchor
        @for $j from 1 to 6 {
          @if ($i != $j){ // apply fade fx to everything besides the current anchor
            // sass and css cannot handle such complex logic
            img:nth-child(#{$j}){
              filter:brightness(0.4);
              transition: all linear 0.4s;
            }
          }
        }
      }
    }
  }
}
