/*
Credit to codepen.io -- Underline from the center
 */
@mixin underline($color , $top-bottom) {
  position: relative;
  text-decoration: none;
  display: inline-block; // note this will make entire link wrap to new line.

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: $top-bottom;
    left: 0;
    background-color: rgba($color, 0);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
  }

  &:hover {
    &:after {
      transform: scaleX(1);
      background-color: $color;
    }
  }
}

.h2styles{
  h2{
    margin-top: -1%;
    font-family: SFLight, serif;
    font-size: 35px;
  }
}

h1{
  font-family: RobotoReg;
  font-size: 50px;
}

.rotate360{
  -ms-transform: rotate(360deg); /* IE 9 */
  -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
  transform: rotate(360deg);
  transition: all .5s ease-in-out;
}

#litec_bg{
  background-image: url("../Images/LITEC1x.jpg");
  background-size: 1520px 1000px;
  padding: 15% 0 30% 0;

  #first_h2{
    margin-top: -4%;
  }

  #text_section{
    margin: 0 54% 0 14%;
    h1{
      font-family: RobotoReg;
      color: white;
    }
    h2{
      margin-left: 1%;
      text-align: left;
      font-family: SFLight;
      font-size: 30px;
      color: white;
    }
    #litec_github{
      margin-left: 1%; // use to be 19%
      display: flex;
      margin-top: -2%;
      transition: all .5s ease-in-out;
      a{
        margin-left: 2%;
        text-align: center;
        font-family: RobotoReg;
        font-size: 29px;
        color: white;
        @include underline(white,35px);
      }
      img {
        filter: invert(100%);
      }
    }
  }
}

#smart_car_intro{
  background-image: url("../Images/litec2.jpg");
  background-size: 1520px 1000px;
  background-position-y: 40%;
  background-position: center;
  padding: 5% 0 42% 0;
  #sc_text{
    text-align: center;
    h1{
      font-family: RobotoReg, serif;
    }
  }
}

#flickr_album{
  padding-top: 2%;
  padding-bottom: 5%;
  background-color: rgba(194,193,180,0.2);
  h1{
    font-family: RobotoReg, serif;
  }

  #album_container a img{
    width: 60%;
    height: 40%;
    margin: 0 auto;
    display: block;
  }
}

.features_container{
  padding: 1% 9% 50% 9%;
  background-color: #e0d9d2;
  h3{
    font-family: RobotoReg,serif;
  }
  p{
    font-family: Helvetica,serif;
    font-size: 23px;
  }
}

h3{
  font-size: 40px;
}

@mixin background-prop{
  background-size: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
}

@mixin feature-styles($color : white, $spc : 0){
  @include background-prop;
  @if ($color == white){
    color: white;
  } @else if($color == black){
    color: black;
  }
  @if($spc > 0){
    margin-top: 13%;
    @media only screen and (max-width: 800px){
      margin-top: 4%;
    }
  }
}

#features{
  background-color: rgba(255,250,240,0.7);
  a{
    &:visited{
      color: white;
      text-decoration: underline;
    }
    &:link{
      color: white;
    }
    &:hover{
      color: orange;
    }
  }
  h1{
    font-family: RobotoReg, serif;
  }
  #ft-titles{
    text-align: center;
    padding: 3% 8%;
  }
  #ft-wrapper{
    display: flex;
    #ft-col1{
      width: 50%;
      padding: 0 2.5% 5% 5%;
      div:nth-child(1){
        background-image: url("../Images/litec/c.png");
        background-color: black;
        @include feature-styles(white,0);
      }
      div:nth-child(2){
        background-color: rgba(215,206,191,1);
        background-image: url("../Images/litec/protoboard.jpg");
        @include feature-styles(black,1);
      }
      div:nth-child(3){
        background-color: rgba(236,228,209,1);
        background-image: url("../Images/litec/adc.jpg");
        @include feature-styles(black,1);
      }
      div:nth-child(4){
        background-color: black;
        @include feature-styles(white,1);
        padding: 1% 9% 2% 9%;
      }
    }
    #ft-col2{
      width: 50%;
      padding: 0 5% 5% 2.5%;
      div:nth-child(1){
        background-color: black;
        background-image: url("../Images/litec/git.png");
        @include feature-styles(white,0);
      }
      div:nth-child(2){
        background-color: rgba(252,242,217,1);
        background-image: url("../Images/litec/c8051.jpg");
        @include feature-styles(black,1);
      }
      div:nth-child(3){
        background-color: rgba(207,195,180,1);
        background-image: url("../Images/litec/I2C.jpg");
        @include feature-styles(black,1);
      }
      div:nth-child(4){
        background-color: black;
        @include feature-styles(white,1);
        padding: 1% 9% 2% 9%;
      }
    }
  }
}

#yt{
  background-color: rgba(252,242,217,1);
  padding: 3% 0;
  text-align: center;
}

#litec-intro{
  background-image: url("../Images/litec/introbg.jpg");
  padding: 3% 12% 25% 12%;
  @include background-prop;
  background-color: rgba(245,238,230,1);

}

h4{
  font-family: SFLight,serif;
  font-size: 25px;
}

#content1{
  padding: 5% 0;
  background-color: black;
  h1{
    text-align: center;
    font-family: Roboto;
    color: white;
    font-size: 30px;
  }
}

@media only screen and (min-width: 1530px){
  #litec_bg {
    background-size: 100%;
  }
  #smart_car_intro{
    background-size: 100%;
  }
}

@media only screen and (max-width: 1400px){
  #litec_bg{
    background-image: url("../Images/LITEC1x.jpg");
    #text_section{
      margin: 0 40% 0 14%;
    }
    #first_h2{
      margin-top: -3%;
    }
  }
  h3{
    font-size: 35px;
  }
}

@media only screen and (max-width: 1200px){
  #litec_bg{
    background-size: 1200px 789px;
    padding: 15% 0 25% 0;
  }
  #smart_car_intro{
    background-size: 1200px 789px;
  }
  h3{
    font-size: 32px;
  }
}

@media only screen and (max-width: 929px){
  h1{
    font-size: 35px;
  }
  #litec_bg{
    background-size: 900px 592px;
    #text_section{
      h2{
        font-size: 25px;
      }
      a{
        font-size: 28px;
        @include underline(white,24px);
      }
    }
  }
  .h2styles{
    h2 {
      font-size: 25px;
    }
  }
  #litec-intro{
    padding: 3% 7.5% 25% 7.5%;
  }
  #smart_car_intro{
    background-color: #e0d9d2;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 110%;
  }
  #flickr_album{
    h1{
      font-size: 35px;
    }
    #album_container a img{
      width: 100%;
      height: 66.7%;
    }
  }
}

@media only screen and (max-width: 800px){
  #features{
    #ft-wrapper{
      display: block;

      #ft-col1{
        padding: 2% 0 2% 0;
        width: 100%;
      }
      #ft-col2{
        padding: 2% 0 2% 0;
        width: 100%;
      }
    }
  }
  h4{
    font-size: 20px;
  }
}

@media only screen and (max-width: 655px){
  #litec_bg {
    padding: 15% 0 68% 0;
    background-image: url("../Images/litec-proj-pic.jpg");
    background-color: rgba(141, 125, 102, 1);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
    #text_section {
      margin: -10% 25% 0 25%;
      h2 {
        text-align: center;
        font-size: 25px;
      }
      a {
        font-size: 28px;
        @include underline(white, 24px);
      }
    }
  }
}

@media only screen and (max-width: 605px){
  #yt iframe{
    width: 100%;
  }
  #litec_bg{
    text-align: center;
    padding: 15% 0 68% 0;
    #text_section{
      margin: -10% 15% 0 15%;
      h2{
        text-align: center;
      }
      #litec_github{
        display: block;
        margin: -4% auto 0 auto;
        img{
          height: 24px;
          width: 24px;
        }

      }
    }
  }
  #smart_car_intro{
    background-size: 120%;
    padding: 5% 10% 48% 10% ;
  }
}

@media only screen and (max-width: 433px){
  h1{
    font-size: 30px;
  }
  #litec_bg{
    #text_section{
      margin: -10% 10% 0 10%;
      h2{
        font-size: 21px;
      }
      a{
        font-size: 22px;
        @include underline(white,24px);
      }
    }
  }
  .h2styles{
    h2 {
      font-size: 21px;
    }
  }
  h4{
    font-size: 17px;
  }
}