/*
Credit to codepen.io -- Underline from the center
 */
.h2styles h2 {
  margin-top: -1%;
  font-family: SFLight, serif;
  font-size: 35px; }

h1 {
  font-size: 50px; }

.rotate360 {
  -ms-transform: rotate(360deg);
  /* IE 9 */
  -webkit-transform: rotate(360deg);
  /* Chrome, Safari, Opera */
  transform: rotate(360deg);
  transition: all .5s ease-in-out; }

#litec_bg {
  background-image: url("../Images/LITEC1x.jpg");
  background-size: 1520px 1000px;
  padding: 15% 0 30% 0; }
  #litec_bg #first_h2 {
    margin-top: -4%; }
  #litec_bg #text_section {
    margin: 0 54% 0 14%; }
    #litec_bg #text_section h1 {
      font-family: RobotoReg;
      color: white; }
    #litec_bg #text_section h2 {
      margin-left: 1%;
      text-align: left;
      font-family: SFLight;
      font-size: 30px;
      color: white; }
    #litec_bg #text_section #litec_github {
      margin-left: 1%;
      display: flex;
      margin-top: -2%;
      vertical-align: middle;
      transition: all .5s ease-in-out; }
      #litec_bg #text_section #litec_github a {
        margin-left: 2%;
        text-align: center;
        font-family: RobotoReg;
        font-size: 29px;
        color: white;
        position: relative;
        text-decoration: none;
        display: inline-block; }
        #litec_bg #text_section #litec_github a:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          top: 35px;
          left: 0;
          background-color: rgba(255, 255, 255, 0);
          transform: scaleX(0);
          transition: all .3s ease-in-out; }
        #litec_bg #text_section #litec_github a:hover:after {
          transform: scaleX(1);
          background-color: white; }
      #litec_bg #text_section #litec_github img {
        filter: invert(100%); }

#smart_car_intro {
  background-image: url("../Images/litec2.jpg");
  background-size: 1520px 1000px;
  background-position-y: 40%;
  background-position: center;
  padding: 5% 0 42% 0; }
  #smart_car_intro #sc_text {
    text-align: center; }
    #smart_car_intro #sc_text h1 {
      font-family: RobotoReg, serif; }

#flickr_album {
  padding-top: 2%;
  padding-bottom: 5%;
  background-color: rgba(194, 193, 180, 0.2); }
  #flickr_album h1 {
    font-family: RobotoReg, serif; }
  #flickr_album #album_container a img {
    width: 60%;
    height: 40%;
    margin: 0 auto;
    display: block; }

.features_container {
  padding: 1% 9% 50% 9%;
  background-color: #e0d9d2; }
  .features_container h3 {
    font-family: RobotoReg; }
  .features_container p {
    font-family: Helvetica;
    font-size: 23px; }

h3 {
  font-size: 40px; }

#features {
  background-color: rgba(255, 250, 240, 0.7); }
  #features a:visited {
    color: white;
    text-decoration: underline; }
  #features a:link {
    color: white; }
  #features a:hover {
    color: orange; }
  #features h1 {
    font-family: RobotoReg, serif; }
  #features #ft-titles {
    text-align: center;
    padding: 3% 8%; }
  #features #ft-wrapper {
    display: flex; }
    #features #ft-wrapper #ft-col1 {
      width: 50%;
      padding: 0 2.5% 5% 5%; }
      #features #ft-wrapper #ft-col1 div:nth-child(1) {
        background-image: url("../Images/litec/c.png");
        background-color: black;
        background-size: 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
        color: white; }
      #features #ft-wrapper #ft-col1 div:nth-child(2) {
        background-color: #d7cebf;
        background-image: url("../Images/litec/protoboard.jpg");
        background-size: 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
        color: black;
        margin-top: 13%; }
        @media only screen and (max-width: 800px) {
          #features #ft-wrapper #ft-col1 div:nth-child(2) {
            margin-top: 4%; } }
    #features #ft-wrapper #ft-col2 {
      width: 50%;
      padding: 0 5% 5% 2.5%; }
      #features #ft-wrapper #ft-col2 div:nth-child(1) {
        background-color: black;
        background-image: url("../Images/litec/git.png");
        background-size: 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
        color: white; }
      #features #ft-wrapper #ft-col2 div:nth-child(2) {
        background-color: #fcf2d9;
        background-image: url("../Images/litec/c8051.jpg");
        background-size: 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
        color: black;
        margin-top: 13%; }
        @media only screen and (max-width: 800px) {
          #features #ft-wrapper #ft-col2 div:nth-child(2) {
            margin-top: 4%; } }

#content1 {
  padding: 5% 0;
  background-color: black; }
  #content1 h1 {
    text-align: center;
    font-family: Roboto;
    color: white;
    font-size: 30px; }

@media only screen and (min-width: 1530px) {
  #litec_bg {
    background-size: 100%; }

  #smart_car_intro {
    background-size: 100%; } }
@media only screen and (max-width: 1400px) {
  #litec_bg {
    background-image: url("../Images/LITEC1x.jpg"); }
    #litec_bg #text_section {
      margin: 0 40% 0 14%; }
    #litec_bg #first_h2 {
      margin-top: -3%; }

  h3 {
    font-size: 35px; } }
@media only screen and (max-width: 1200px) {
  #litec_bg {
    background-size: 1200px 789px;
    padding: 15% 0 25% 0; }

  #smart_car_intro {
    background-size: 1200px 789px; }

  h3 {
    font-size: 32px; } }
@media only screen and (max-width: 929px) {
  h1 {
    font-size: 35px; }

  #litec_bg {
    background-size: 900px 592px; }
    #litec_bg #text_section h2 {
      font-size: 25px; }
    #litec_bg #text_section a {
      font-size: 28px;
      position: relative;
      text-decoration: none;
      display: inline-block; }
      #litec_bg #text_section a:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        top: 24px;
        left: 0;
        background-color: rgba(255, 255, 255, 0);
        transform: scaleX(0);
        transition: all .3s ease-in-out; }
      #litec_bg #text_section a:hover:after {
        transform: scaleX(1);
        background-color: white; }

  .h2styles h2 {
    font-size: 25px; }

  #smart_car_intro {
    background-color: #e0d9d2;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 110%; }

  #flickr_album h1 {
    font-size: 35px; }
  #flickr_album #album_container a img {
    width: 100%;
    height: 66.7%; } }
@media only screen and (max-width: 800px) {
  #features #ft-wrapper {
    display: block; }
    #features #ft-wrapper #ft-col1 {
      padding: 2% 0 2% 0;
      width: 100%; }
    #features #ft-wrapper #ft-col2 {
      padding: 2% 0 2% 0;
      width: 100%; } }
@media only screen and (max-width: 655px) {
  #litec_bg {
    padding: 15% 0 68% 0;
    background-image: url("../Images/litec-proj-pic.jpg");
    background-color: #8d7d66;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom; }
    #litec_bg #text_section {
      margin: -10% 25% 0 25%; }
      #litec_bg #text_section h2 {
        text-align: center;
        font-size: 25px; }
      #litec_bg #text_section a {
        font-size: 28px;
        position: relative;
        text-decoration: none;
        display: inline-block; }
        #litec_bg #text_section a:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          top: 24px;
          left: 0;
          background-color: rgba(255, 255, 255, 0);
          transform: scaleX(0);
          transition: all .3s ease-in-out; }
        #litec_bg #text_section a:hover:after {
          transform: scaleX(1);
          background-color: white; } }
@media only screen and (max-width: 605px) {
  #litec_bg {
    text-align: center;
    padding: 15% 0 68% 0; }
    #litec_bg #text_section {
      margin: -10% 15% 0 15%; }
      #litec_bg #text_section h2 {
        text-align: center; }
      #litec_bg #text_section #litec_github {
        display: block;
        margin: -4% auto 0 auto; }
        #litec_bg #text_section #litec_github img {
          height: 24px;
          width: 24px; }

  #smart_car_intro {
    background-size: 120%;
    padding: 5% 10% 48% 10%; } }
@media only screen and (max-width: 433px) {
  h1 {
    font-size: 30px; }

  #litec_bg #text_section {
    margin: -10% 10% 0 10%; }
    #litec_bg #text_section h2 {
      font-size: 21px; }
    #litec_bg #text_section a {
      font-size: 22px;
      position: relative;
      text-decoration: none;
      display: inline-block; }
      #litec_bg #text_section a:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        top: 24px;
        left: 0;
        background-color: rgba(255, 255, 255, 0);
        transform: scaleX(0);
        transition: all .3s ease-in-out; }
      #litec_bg #text_section a:hover:after {
        transform: scaleX(1);
        background-color: white; }

  .h2styles h2 {
    font-size: 21px; } }

/*# sourceMappingURL=litec_styles.css.map */
