/*
Credit to codepen.io -- Underline from the center
 */
@mixin underline($color , $top-bottom) {
  position: relative;
  text-decoration: none;
  display: inline-block; // note this will make entire link wrap to new line.

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: $top-bottom;
    left: 0;
    background-color: rgba($color, 0);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
  }

  &:hover {
    &:after {
      transform: scaleX(1);
      background-color: $color;
    }
  }
}

.rotate360{
  -ms-transform: rotate(360deg); /* IE 9 */
  -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
  transform: rotate(360deg);
  transition: all .5s ease-in-out;
}

#litec_bg{
  background-image: url("../Images/LITEC1x.jpg");
  background-size: 1520px 1000px;
  padding: 15% 0 30% 0;

  #first_h2{
    margin-top: -12%;
  }

  #text_section{
    margin: 0 54% 0 14%;
    h4{
      font-family: RobotoReg;
      font-size: 50px;
      color: white;
    }
    h2{
      margin-left: 1%;
      text-align: left;
      font-family: SFLight;
      font-size: 30px;
      color: white;
    }
    #litec_github{
      margin-left: 1%; // use to be 19%
      display: flex;
      margin-top: -2%;
      vertical-align: middle;
      transition: all .5s ease-in-out;
      a{
        margin-left: 2%;
        text-align: center;
        font-family: RobotoReg;
        font-size: 29px;
        color: white;
        @include underline(white,35px);
      }
      img {
        filter: invert(100%);
      }
    }
  }
}

#content1{
  padding: 5% 0;
  background-color: black;
  h1{
    text-align: center;
    font-family: Roboto;
    color: white;
    font-size: 30px;
  }
}

@media only screen and (max-width: 1400px){
  #litec_bg{
    background-image: url("../Images/LITEC1x.jpg");
    #text_section{
      margin: 0 40% 0 14%;
    }
    #first_h2{
      margin-top: -9%;
    }
  }
}

@media only screen and (max-width: 1200px){
  #litec_bg{
    background-size: 1200px 789px;
    padding: 15% 0 25% 0;
  }
}

@media only screen and (max-width: 929px){
  #litec_bg{
    background-size: 900px 592px;
    #text_section{
      h4{
        font-size: 35px;
      }
      h2{
        font-size: 25px;
      }
      a{
        font-size: 28px;
        @include underline(white,24px);
      }
    }
  }
}

@media only screen and (max-width: 655px){
  #litec_bg{
    padding: 15% 0 68% 0;
    background-image: url("../Images/litec-proj-pic.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
    #text_section{
      margin: -10% 25% 0 25%;
      h4{
        font-size: 35px;
      }
      h2{
        text-align: center;
        font-size: 25px;
      }
      a{
        font-size: 28px;
        @include underline(white,24px);
      }
    }
  }
}

@media only screen and (max-width: 605px){
  #litec_bg{
    text-align: center;
    padding: 15% 0 68% 0;
    #text_section{
      margin: -10% 15% 0 15%;
      h2{
        text-align: center;
      }
      #litec_github{
        display: block;
        margin: -4% auto 0 auto;
        img{
          height: 24px;
          width: 24px;
        }

      }
    }

  }
}

@media only screen and (max-width: 433px){
  #litec_bg{
    #text_section{
      margin: -10% 10% 0 10%;
      h4{
        font-size: 30px;
      }
      h2{
        font-size: 21px;
      }
      a{
        font-size: 22px;
        @include underline(white,24px);
      }
    }
  }
}